<link rel="import" href="../../bower_components/polymer/polymer.html">

<link
		rel="import"
		href="../../bower_components/google-apis/google-client-loader.html">
<link
		rel="import"
		href="../../bower_components/google-signin/google-signin.html">
<link
		rel="import"
		href="../../bower_components/paper-progress/paper-progress.html">

<dom-module id="app-main">
	<template>
		
		<style>
		</style>

		<google-signin
				id="signin"
				label-signin="Sign-in"
				client-id="316698677168-ltqgvda5brjuo425d034uhulbs2ho1d2.apps.googleusercontent.com"
				scopes="https://www.googleapis.com/auth/drive.file"
				on-google-signin-success="onSigninSuccess">
		</google-signin>

		<google-client-loader
				id="drive"
				name="drive"
				version="v3"
				on-google-api-load="onDriveAPILoad">
		</google-client-loader>

		<div hidden="[[!sizeInMb]]">
			<div hidden="[[!isLargeFile]]">
				Warning! File is over 5MB in size. Loading the file will download
				[[sizeInMB]]MB to this computer. Are you sure you want to proceed?
			</div>
			[[filename]]
			<button>Cancel</button>
			<button on-tap="loadFileContent">Load it!</button>
		</div>

		<paper-progress
				indeterminate="[[decodeInProgress]]"
				value="[[downloadProgress]]">
		</paper-progress>

		<ul>
			<template is="dom-repeat" items="[[keys(content.ls)]]">
				<li>[[item]]</li>
			</template>
		</ul>

		<img id="testImg"></img>

	</template>

	<script>
		Polymer({
			is: 'app-main',
			properties: {
				fileId: {
					type: String,
					value: null
				},
				filename: {
					type: String,
					value: null
				},
				mimeType: {
					type: String,
					value: null
				},
				isSupportedMimeType: {
					type: Boolean,
					value: null
				},
				fileSize: {
					type: Number,
					value: null
				},
				downloadProgress: {
					type: Number,
					value: 0
				},
				decodeInProgress: {
					type: Boolean,
					value: false
				},
				sizeInMB: {
					type: Number,
					computed: 'computeSizeInMB(fileSize)'
				},
				isLargeFile: {
					type: Boolean,
					computed: 'computeIsLargeFile(sizeInMB)'
				}
			},
			ready() {
				this.libunrarWorker = new Worker('libunrar-worker.js');
				this.libunrarWorker.onmessage = this.onFileContentLoad.bind(this);
			},
			onSigninSuccess() {
				this.signedIn = true;
				this.loadFileMetadata();
			},
			onDriveAPILoad() {
				this.loadFileMetadata();
			},
			onFileContentLoad(event) {
				console.log(event.data);
				this.decodeInProgress = false;
				const blob = new Blob([
					event.data.ls[Object.keys(event.data.ls)[0]].fileContent],
					{ type: 'image/jpg' });
				this.$.testImg.src = URL.createObjectURL(blob);
			},
			onFileProgress(event) {
				this.downloadProgress = Math.round(100 * (event.loaded / this.fileSize));
			},
			onFileLoad(event) {
				this.libunrarWorker.postMessage({
					filename: this.filename,
					encodedBytesBuffer: event.target.response
				}, [event.target.response]);
				this.decodeInProgress = true;
			},
			loadFileMetadata() {
				if (this.fileSize || !this.$.drive.api || !this.$.signin.signedIn) {
					return;
				}

				let queryString = window.location.search.substring('&state='.length);
				if (queryString[queryString.length-1] === '/') {
					queryString = queryString.substring(0, queryString.length-1);
				}

				const state = JSON.parse(decodeURIComponent(queryString));


				this.fileId = state.ids[0];
				const fileMetadataRequest = this.$.drive.api.files.get({
					fileId: state.ids[0],
					fields: 'mimeType,name,size'
				});

				fileMetadataRequest.execute(resp => {
					this.filename = resp.name;
					this.mimeType = resp.mimeType;
					this.isSupportedMimeType = resp.mimeType === 'application/x-cbr';
					this.fileSize = resp.size;
					if (!this.isLargeFile) {
						this.loadFileContent();
					}
				});
			},
			loadFileContent() {
	      const oauthToken = (
	      	gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse());
	      const req = new XMLHttpRequest();
	      req.open(
	      	'GET',
	      	`https://www.googleapis.com/drive/v3/files/${this.fileId}?alt=media`);
	      req.responseType = 'arraybuffer';
	      req.setRequestHeader(
	      	'Authorization',
	      	'Bearer ' + oauthToken.access_token);
	      req.addEventListener('progress', this.onFileProgress.bind(this));
	      req.addEventListener('load', this.onFileLoad.bind(this));
	      req.send();
	      return;
			},
			keys(obj) {
				return Object.keys(obj);
			},
			computeSizeInMB(size) {
				return (size * 1e-6).toFixed(0);
			},
			computeIsLargeFile(sizeInMB) {
				return sizeInMB >= 5;
			}
		});
	</script>
</dom-module>